@* 
@{
    ViewData["Title"] = "Safety Data Sheet Index";
}

<h1>@ViewData["Title"]</h1>
<p>Welcome to the Safety Data Sheet management system. Use the navigation menu to explore.</p>


<a class="nav-link text-dark" asp-area="" asp-controller="SafetyDataSheet" asp-action="Create">Create</a> *@

@model IEnumerable<SDS.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().ProductCode)</th>
            <th>@Html.DisplayNameFor(model => model.First().ProductNo)</th>
            <th>@Html.DisplayNameFor(model => model.First().ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.First().CreatedAt)</th>
            <th>@Html.DisplayNameFor(model => model.First().UpdatedAt)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductCode</td>
                <td>@item.ProductNo</td>
                <td>@item.ProductName</td>
                <td>@item.CreatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.UpdatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    @* <a asp-asp-controller="GeneratePdf" asp-action="GeneratePdf" asp-route-id="@item.ProductNo">Generate
                        PDF</a> *@
                    <a asp-controller="GeneratePdf" asp-action="GeneratePdf" asp-route-productId="@item.ProductNo">Generate
                        PDF</a>

                </td>
            </tr>
        }
    </tbody>
</table>
